<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title data-th-remove="all">Template for HTML email (editable)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div style="background-color: #ccc; background-image: url(images/background.png)"
             data-th-style="|background-color: #ccc; background-image: url(cid:background)|">
            <div style="padding: 40px;">
                <div style="margin-left: auto; margin-right: auto; min-width: 320px; border: solid 1px #62ea92; border-radius: 6px;">
                    <div style="background-color: #62ea92; padding: 4px 4px 2px 4px;">
                        <div style="background-image: url(images/logo-background.png);"
                             data-th-style="|background-image: url(cid:logo-background)|">
                            
                        </div>
                    </div>
                    <div style="padding: 15px 15px 30px 15px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:1em; background-color: #fff; color:#333;">
    <img src="https://blog.hubspot.com/hs-fs/hubfs/email-signature-example-generator-2.png?width=458&name=email-signature-example-generator-2.png" />                      
					  <p>Hello <span th:text="${data.name}">User</span></p>
                        <p>
                            You One Time Password is <span th:text="${data.otp}">OneTimePassword</span>
                        </p>
                        
                      <p>
       <p>
            <img src="https://raw.githubusercontent.com/sankar053/amiruthumimg/main/logo.png" />
        </p>
    </p>   
						
                    </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

