<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title data-th-remove="all">Template for HTML email (editable)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
<div style="margin:0">
    <table style="height:100%!important;width:100%!important;border-spacing:0;border-collapse:collapse">
      <tbody><tr>
        <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
          <table style="width:100%;border-spacing:0;border-collapse:collapse;margin:40px 0 20px">
  <tbody><tr>
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
      <center>

        <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
          <tbody><tr>
            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">

              <table style="width:100%;border-spacing:0;border-collapse:collapse">
                <tbody><tr>
                  <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif" align="center">
                      <img src="https://raw.githubusercontent.com/sankar053/amiruthumimg/main/logo.png" alt="Just-Herbs-india" width="180" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 499.188px; top: 223px;"><div id=":3v9" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                  </td>

                    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;text-transform:uppercase;font-size:14px;color:#999" align="right">
                      <span style="font-size:16px" th:text="'Order #' + ${data.orderNo}">
                        Order #128478
                      </span>
                    </td>
                </tr>
              </tbody></table>

            </td>
          </tr>
        </tbody></table>

      </center>
    </td>
  </tr>
</tbody></table>

          <table style="width:100%;border-spacing:0;border-collapse:collapse">
  <tbody><tr>
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;border:0">
      <center>
        <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
          <tbody><tr>
            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
              
            <h2 style="font-weight:normal;font-size:24px;margin:0 0 10px">Thank you for your purchase! </h2>
            <p style="color:#777;line-height:150%;font-size:16px;margin:0">
  
    Hi  <span th:text="${data.name}">User</span>, we're getting your order ready to be shipped. We will notify you when it has been sent.
  
</p>
            
              <table style="width:100%;border-spacing:0;border-collapse:collapse">
  <tbody>
  <tr>
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;line-height:0em">&nbsp;</td>
  </tr>
  <tr>
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
     <!-- <table style="border-spacing:0;border-collapse:collapse;float:left;margin-right:15px">
        <tbody>
		<tr>
          <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;border-radius:4px" align="center" bgcolor="#3a8440">
		  <a href="https://www.justherbs.in/23213178957/orders/b0fc5f5a7dfcdb0cf1a3810e0e250b12/authenticate?key=45c50cb90b34388640fd635c573ef95e" style="font-size:16px;text-decoration:none;display:block;color:#fff;background-color:#3a8440;padding:20px 25px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.justherbs.in/23213178957/orders/b0fc5f5a7dfcdb0cf1a3810e0e250b12/authenticate?key%3D45c50cb90b34388640fd635c573ef95e&amp;source=gmail&amp;ust=1629608332191000&amp;usg=AFQjCNEE49Jvn9k6jj2zhIMdj0kBoyYFNQ">View your order</a></td>
        </tr>
      </tbody></table>-->
      
    <table style="border-spacing:0;border-collapse:collapse">
      <tbody><tr>
        <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">or <a href="http://localhost:4200/home" style="font-size:16px;text-decoration:none;color:#3a8440" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.justherbs.in&amp;source=gmail&amp;ust=1629608332191000&amp;usg=AFQjCNEyVAS9tkEXNSvglU1z-w9SyXNwTQ">Visit our store</a>
</td>
      </tr>
    </tbody></table>


    </td>
  </tr>
</tbody></table>

            

            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>

          <table style="width:100%;border-spacing:0;border-collapse:collapse">
  <tbody><tr>
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:40px 0">
      <center>
        <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
          <tbody><tr>
            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
              <h3 style="font-weight:normal;font-size:20px;margin:0 0 25px">Order summary</h3>
            </td>
          </tr>
        </tbody></table>
        <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
          <tbody>
		  <tr>
            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
       
<table style="width:100%;border-spacing:0;border-collapse:collapse">
  
  <tbody><tr style="width:100%" th:each="item : ${data.orderedItem}">
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding-bottom:15px">
      <table style="border-spacing:0;border-collapse:collapse">
        <tbody>
		
<tr>
<td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
          
            <img src="sample.png" th:src="${item.itemImgURLs}" align="left" width="60" height="60" style="margin-right:15px;border:1px solid #e5e5e5" class="CToWUd">
          
        </td>
        <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;width:100%">
          

          

          <span th:text="${item.productName}" style="font-size:16px;font-weight:600;line-height:1.4;color:#555">Herb Enriched Ayurvedic Lipstick Shade Sampler Kit&nbsp;×&nbsp;1</span><br>

          
            <span th:text="${item.productName}" style="font-size:14px;color:#999">16 shades of lipstick minis</span><br>
          

          

          
            
          
        </td>
          <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;white-space:nowrap">
            
            <span th:text="${item.productPrice}" tyle="color:#555;line-height:150%;font-size:16px;font-weight:600;margin:0 0 0 15px" align="right">
              
                MRP: ₹575.00
              
            </span>
          </td>
      </tr></tbody></table>
    </td>
  </tr>
  
  
  </tbody></table>
    </td>
  </tr>
</tbody></table>

            <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:15px;border-top-width:1px;border-top-color:#e5e5e5;border-top-style:solid">
  <tbody><tr>
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;width:40%"></td>
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
      <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px">
        
          
        

        
<tbody><tr>
  <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:5px 0">
    <p style="color:#777;line-height:1.2em;font-size:16px;margin:0">
      <span style="font-size:16px">Subtotal</span>
    </p>
  </td>
  <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:5px 0" align="right">
    <strong style="font-size:16px;color:#555" th:text="${data.subtotal}">MRP: ₹575.00</strong>
  </td>
</tr>

        
<tr>
  <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:5px 0">
    <p style="color:#777;line-height:1.2em;font-size:16px;margin:0">
      <span style="font-size:16px">Shipping</span>
    </p>
  </td>
  <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:5px 0" align="right">
    <strong style="font-size:16px;color:#555" th:text="${data.shipping}">MRP: ₹0.00</strong>
  </td>
</tr>


        

        
      </tbody></table>
      <table style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px;border-top-width:2px;border-top-color:#e5e5e5;border-top-style:solid">
        
<tbody><tr>
  <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:20px 0 0">
    <p style="color:#777;line-height:1.2em;font-size:16px;margin:0">
      <span style="font-size:16px">Total</span>
    </p>
  </td>
  <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:20px 0 0" align="right">
    <strong style="font-size:24px;color:#555" th:text="${data.finalAmount}">MRP: ₹575.00</strong>
  </td>
</tr>

      </tbody></table>

      
        <p style="color:#777;line-height:1.1;font-size:16px;margin:10px 0 0" align="right">
          You saved <span style="font-size:16px;color:#555" th:text="${data.finalAmount}">MRP: ₹305.00</span>
        </p>
      

      
      
      

      
    </td>
  </tr>
</tbody></table>


            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>

          <table style="width:100%;border-spacing:0;border-collapse:collapse">
  <tbody><tr>
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:40px 0">
      <center>
        <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
          <tbody><tr>
            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
              <h3 style="font-weight:normal;font-size:20px;margin:0 0 25px">Customer information</h3>
            </td>
          </tr>
        </tbody></table>
        <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
          <tbody><tr>
            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
              
            <table style="width:100%;border-spacing:0;border-collapse:collapse">
              <tbody><tr>
                
                <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding-bottom:40px;width:50%">
                  <h4 style="font-weight:500;font-size:16px;color:#555;margin:0 0 5px">Shipping address</h4>
                  <p style="color:#777;line-height:150%;font-size:16px;margin:0"><span th:text="${data.orderDeliveryDetails.receiverName}">User</span><br>
                  <span th:text="${data.orderDeliveryDetails.addressline1}">#3, krishna nagar 2nd street, vivekananda main road, kolathur</span>
                  <br>
                  <span th:text="${data.orderDeliveryDetails.dstPin}+' '+${data.orderDeliveryDetails.state}">600099 Chennai TN</span>
                  <br>India</p>
                </td>
                
                
                <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding-bottom:40px;width:50%">
                  <h4 style="font-weight:500;font-size:16px;color:#555;margin:0 0 5px">Billing address</h4>
                  <p style="color:#777;line-height:150%;font-size:16px;margin:0"><span th:text="${data.orderDeliveryDetails.receiverName}">User</span><br>
                  <span th:text="${data.orderDeliveryDetails.addressline1}">#3, krishna nagar 2nd street, vivekananda main road, kolathur</span>
                  <br>
                  <span th:text="${data.orderDeliveryDetails.dstPin}+' '+${data.orderDeliveryDetails.state}">600099 Chennai TN</span>
                  <br>India</p>
                  </td>
                
              </tr>
            </tbody></table>
            <table style="width:100%;border-spacing:0;border-collapse:collapse">
              <tbody><tr>
                
                <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding-bottom:40px;width:50%">
                  <h4 style="font-weight:500;font-size:16px;color:#555;margin:0 0 5px">Shipping method</h4>
                  <p style="color:#777;line-height:150%;font-size:16px;margin:0" th:text="${data.paymentMethods}">Prepaid</p>
                </td>
                
                
                
                <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding-bottom:40px;width:50%">
                  <h4 style="font-weight:500;font-size:16px;color:#555;margin:0 0 5px">Payment method</h4>
                  
                    
                      
                        <p style="color:#777;line-height:150%;font-size:16px;margin:0">
                          
                            Razorpay cards upi netbanking wallets  — <strong style="font-size:16px;color:#555">MRP: ₹575.00</strong>
                          
                        </p>
                      
                    
                  
                </td>
                
              </tr>
            </tbody></table>

            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>

          <table style="width:100%;border-spacing:0;border-collapse:collapse;border-top-width:1px;border-top-color:#e5e5e5;border-top-style:solid">
  <tbody><tr>
    <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:35px 0">
      <center>
        <table style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
          <tbody><tr>
            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
              
              <p style="color:#999;line-height:150%;font-size:14px;margin:0">If you have any questions, reply to this email or contact us at 
              <a href="mailto:support@amirutham.com" 
              style="font-size:14px;text-decoration:none;color:#3a8440" target="_blank">support@amirutham.com</a></p>
            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>

<img src="https://ci4.googleusercontent.com/proxy/C5WAwfRu-nhYYB726ZtDmBBZxH2ZQQgtpxwmJT5KONtMOVp6k7laRdD7JghQXsHLcYM4veQr436syfT22M4kVYeof9oM4TIq5I7li0_YUjrim2hpHv5dYG7V9z9OmFYRRwYK3KgYIf0ck0d_WTq1EjhX_DpBFoi4n20fTmcCfJxl76PIrL1HodOHxbkR8PrieSaJX9F3tcNZb-9L3JTm7_owWlAKVQ64kFMBmJHwK7I=s0-d-e1-ft#https://cdn.shopify.com/shopifycloud/shopify/assets/themes_support/notifications/spacer-1a26dfd5c56b21ac888f9f1610ef81191b571603cb207c6c0f564148473cab3c.png" height="1" style="min-width:600px;height:0" class="CToWUd">

        </td>
      </tr>
    </tbody></table><div class="yj6qo"></div><div class="adL">
  

</div></div>
</body>
</HTML>